/* --------------------------------------------------
   General Styles
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

body {
    font-family: 'Jokerman','Playfair Display','Times New Roman', Times, serif;
    background: black;
    overflow: hidden;
}

/* --------------------------------------------------
   Home Page Styles
-------------------------------------------------- */

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.main {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.footer {
    color: #007BFF;
    font-size: x-small;
}

/* --------------------------------------------------
   Link Styles
-------------------------------------------------- */

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.container a {
    margin: 10px 0; 
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

.container a:hover {
    color: #0056b3; 
}

/* --------------------------------------------------
   Title and Navigation Styles
-------------------------------------------------- */

#title {
    color: #007BFF;
    font-size: 36px;
    margin-bottom: 20px;
}

#open-nav {
    color: wheat;
}

/* --------------------------------------------------
   Side Navigation (sidenav) Styles
-------------------------------------------------- */

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background: rgb(23, 20, 68);
    background: linear-gradient(90deg,  rgba(0,212,255,1) 0%, rgba(9,9,121,1) 65%,rgba(2,0,36,1) 100%);
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: wheat;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}

/* --------------------------------------------------
   Galaxy Simulation Styles
-------------------------------------------------- */

.galaxy .black-hole .constellation {
    margin: 0;
}

#galaxy #black-hole #starfield {
    display: block;
}

/* --------------------------------------------------
   Supernova Simulation Styles
-------------------------------------------------- */

.supanova {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.starry-background div {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.7;
}

.starry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 0;
}

.explosion {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255, 255, 0, 0) 30%, rgba(255, 0, 0, 0.7) 70%, rgba(255, 255, 0, 0) 100%);
    border-radius: 50%;
    animation: explode 1s forwards;
    display: none;
}

.star {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 20px yellow;
    animation: pulse 2s infinite;
}

/* --------------------------------------------------
   Animations
-------------------------------------------------- */

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

/* --------------------------------------------------
   Starfield Styles
-------------------------------------------------- */

.starfield #starfield-html {
    margin: 0;
    padding: 0;
}
